*{font-size:12px; font-family:Tahoma,Verdana,微软雅黑,新宋体}
body{ }
a{ color:Black; text-decoration:none;}
a:hover{ color:Red; text-decoration:underline;}
.textbox03 {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;  font-weight: bold; width: 190px; }

.txt01{font:Verdana, Geneva, sans-serif,宋体;padding:3px 2px 2px 2px; border-width:1px; border-color:#ddd;  color:#000;}
.txt {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;}
.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}
.head {float: right; padding-right: 25px;padding-top: 5px;}
.head a{color:White;text-decoration:underline;}

.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li div{margin:2px 0px;padding-left:10px;padding-top:2px;}
.easyui-accordion ul li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.easyui-accordion ul li div.hover a{color:#416AA3;}
.easyui-accordion ul li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}

.icon{padding:2px 9px; background:url(../images/tabicons.png) no-repeat; }
.icon-sys{background:url(../images/1.png) no-repeat;}
.icon-nav{background:url(../images/1.png) no-repeat;}
.icon-worklog{color:green; padding-left:20px;padding-bottom:5px;background:url(../images/worklog.png) no-repeat;}
.sjzd-li{list-style-type: none;list-style-image: url("../images/tree_file.gif");}

p#vtip { display: none; position: absolute; padding: 10px; left: 5px; font-size: 0.8em; background-color: white; border: 1px solid #a6c9e2; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999 }
p#vtip #vtipArrow { position: absolute; top: -10px; left: 5px }

.acInput {width: 120px;}
.acResults {padding: 0px;border: 1px solid WindowFrame;	background-color: Window;overflow: hidden;}
.acResults ul {width: 100%;list-style-position: outside;list-style: none;padding: 0;margin: 0;}
.acResults li {margin: 0px;padding: 2px 5px;cursor: pointer;display: block;width: 100%;font: menu;font-size: 12px;overflow: hidden;}
.acLoading {background : url('indicator.gif') right center no-repeat;}
.acSelect {background-color: Highlight;color: HighlightText;}
#form{margin-top: 10px;}